---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - pvc.yaml
  - deployment.yaml
  - http-route.yaml
  - service.yaml

images:
  - name: homebridge/homebridge
    newTag: '2025-12-06'

configMapGenerator:
  - name: homebridge-config
    literals:
      - TZ=America/Los_Angeles
      - ENABLE_AVAHI=0
